.pageWrapper {
  background: var(--gray-50);
  padding-top: var(--spacing-24);
}

.sectionWrapper {
  display: flex;
  gap: var(--spacing-24);
}

.filterWrapper {
  max-width: 300px;
  width: 100%;
  position: sticky;
  top: 20px;
  height: max-content;
}

.sortWrapper {
  margin-bottom: var(--spacing-24);
}

.ticketListWrapper {
  max-width: 740px;
  width: 100%;
}

.scrollToTop {
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  box-shadow: var(--drop-shadow-100);
}

.scrollToTop button {
  background-color: var(--white);
  width: 56px;
  height: 56px;
  padding: 0;
}

.scrollToTop button svg {
  width: 24px;
  height: 24px;
}

@media (max-width: 1050px) {
  .filterWrapper {
    display: none;
  }

  .mobileFilterWrapper {
    margin-bottom: 32px;
  }

  .sectionWrapper {
    justify-content: center;
  }
}
