.popup {
  position: absolute;
  bottom: -8px;
  transform: translateY(100%) translateX(-50%);
  background-color: var(--white);
  left: 50%;
  width: 100%;
  padding: var(--spacing-24);
  border-radius: var(--bd-radius-8);
  box-shadow: var(--drop-shadow-100);
  z-index: 1;
}

.mobileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--spacing-8);
  padding-left: 48px;
}

.title {
  font-size: var(--text-20);
  font-weight: 600;
  color: var(--gray-900);
  margin: 0 auto;
}

.closeButton {
  padding: var(--spacing-12);
}
