.popup {
  max-width: 832px;
  padding: var(--spacing-32);
  padding-bottom: var(--spacing-16);
}

@media (max-width: 768px) {
  .popup {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    transform: none;
    z-index: 1;
    padding: var(--container-padding);
  }
}

.inputs {
  padding: var(--spacing-24) 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacing-4);
}

.input {
  padding: var(--spacing-16);
  background-color: var(--white-50);
  border-radius: var(--bd-radius-8);
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inputContent {
  display: flex;
  flex-direction: column;
}

.inputTitle {
  color: var(--gray-600);
  font-size: var(--text-14);
  font-weight: 600;
  line-height: 20px;
}

.inputValue {
  color: var(--gray-900);
  font-weight: 500;
}

.clearInput {
  padding: var(--spacing-12);
  margin: calc(var(--spacing-12) * -1);
}

.clearInput img {
  width: 24px;
  height: 24px;
  display: block;
}

.header {
  display: flex;
  flex-direction: row;
  padding-right: 143px;
  margin-bottom: var(--spacing-40);
}

.header .select {
  max-width: 143px;
}

.header .select__menu {
  width: 300px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column-reverse;
    padding-right: 0;
    margin-top: var(--spacing-24);
    margin-bottom: var(--spacing-24);
  }

  .header .select {
    max-width: 100%;
  }

  .header .select__menu {
    width: 100%;
  }
}

.tabs {
  display: flex;
  align-items: center;
  gap: var(--spacing-12);
  flex-shrink: 0;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .tabs {
    margin-bottom: var(--spacing-24);
  }
}

.tripSelectItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tripSelectItem img {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: var(--spacing-16);
}

.calendar {
  margin-bottom: var(--spacing-16);
}

@media (max-width: 768px) {
  .calendar {
    flex-direction: column;
    margin-bottom: var(--spacing-16);
    height: calc(100dvh - 444px);
    overflow: auto;
  }

  .calendar .calendar {
    width: 100%;
    margin-bottom: var(--spacing-24);
    padding-bottom: var(--spacing-24);
    border-bottom: 1px solid var(--gray-200);
  }

  .calendar .calendar-nav-prev,
  .calendar .calendar-nav-next {
    display: none;
  }

  .calendar .calendar-nav-date {
    margin: 0;
  }

  .calendar .calendar-nav-date span {
    text-align: left;
    font-size: var(--text-20);
  }
}

.calendar .calendar:nth-child(n + 3) {
  display: none;
}

@media (max-width: 768px) {
  .calendar .calendar:nth-child(n + 3) {
    display: block;
  }
}

.calendar .calendar:first-child .calendar-nav-next {
  display: none;
}

.calendar .calendar:first-child .calendar-nav {
  padding-right: 24px;
}

@media (max-width: 768px) {
  .calendar .calendar:first-child .calendar-nav {
    padding-right: 0;
  }
}

.calendar .calendar:nth-child(2) .calendar-nav-prev {
  display: none;
}

.calendar .calendar:nth-child(2) .calendar-nav {
  padding-left: 24px;
}

@media (max-width: 768px) {
  .calendar .calendar:nth-child(2) .calendar-nav {
    padding-left: 0;
  }
}

.divider {
  width: calc(100% + var(--spacing-32) * 2);
  height: 1px;
  background-color: var(--gray-200);
  margin: 0 calc(var(--spacing-32) * -1);
}

@media (max-width: 768px) {
  .divider {
    width: calc(100% + var(--spacing-40) * 2);
    margin: 0 calc(var(--spacing-40) * -1);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: var(--spacing-16);
}

.footer button {
  width: auto;
}

.showOnMobile {
  display: block;
}

@media (min-width: 769px) {
  .showOnMobile {
    display: none;
  }
}
