.popup.popup {
  max-width: 832px;
  padding: var(--spacing-32);
  padding-bottom: var(--spacing-16);

  @media (max-width: 768px) {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    transform: none;
    z-index: 1;
    padding: var(--container-padding);
  }
}

.inputs {
  padding: var(--spacing-24) 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacing-4);
}

.input {
  padding: var(--spacing-16);
  background-color: var(--white-50);
  border-radius: var(--bd-radius-8);
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inputContent {
  display: flex;
  flex-direction: column;
}

.inputTitle {
  color: var(--gray-600);
  font-size: var(--text-14);
  font-weight: 600;
  line-height: 20px;
}

.inputValue {
  color: var(--gray-900);
  font-weight: 500;
}

.clearInput {
  padding: var(--spacing-12);
  margin: calc(var(--spacing-12) * -1);
}

.clearInput img {
  width: 24px;
  height: 24px;
  display: block;
}

.header {
  display: flex;
  flex-direction: row;
  padding-right: 143px;
  margin-bottom: var(--spacing-40);
}

.header :global(.select) {
  max-width: 143px;
}

.header :global(.select__menu) {
  width: 300px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column-reverse;
    padding-right: 0;
    margin-top: var(--spacing-24);
    margin-bottom: var(--spacing-24);
  }

  .header :global(.select) {
    max-width: 100%;
  }

  .header :global(.select__menu) {
    width: 100%;
  }
}

.tabs {
  display: flex;
  align-items: center;
  gap: var(--spacing-12);
  flex-shrink: 0;
  margin: 0 auto;

  @media (max-width: 768px) {
    margin-bottom: var(--spacing-24);
  }
}

.tripSelectItem {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: var(--spacing-16);
  }
}

.calendar.calendar {
  margin-bottom: var(--spacing-16);

  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: var(--spacing-16);
    height: calc(100dvh - 444px);
    overflow: auto;

    :global(.calendar) {
      width: 100%;
      margin-bottom: var(--spacing-24);
      padding-bottom: var(--spacing-24);
      border-bottom: 1px solid var(--gray-200);
    }

    :global(.calendar-nav-prev),
    :global(.calendar-nav-next) {
      display: none;
    }

    :global(.calendar-nav-date) {
      margin: 0;

      span {
        text-align: left;
        font-size: var(--text-20);
      }
    }
  }

  :global(.calendar:nth-child(n + 3)) {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  :global(.calendar:first-child) {
    :global(.calendar-nav-next) {
      display: none;
    }
    :global(.calendar-nav) {
      padding-right: 24px;

      @media (max-width: 768px) {
        padding-right: 0;
      }
    }
  }
  :global(.calendar:nth-child(2)) {
    :global(.calendar-nav-prev) {
      display: none;
    }
    :global(.calendar-nav) {
      padding-left: 24px;

      @media (max-width: 768px) {
        padding-left: 0;
      }
    }
  }
}

.divider {
  width: calc(100% + var(--spacing-32) * 2);
  height: 1px;
  background-color: var(--gray-200);
  margin: 0 calc(var(--spacing-32) * -1);

  @media (max-width: 768px) {
    width: calc(100% + var(--spacing-40) * 2);
    margin: 0 calc(var(--spacing-40) * -1);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: var(--spacing-16);

  button {
    width: auto;
  }
}

.showOnMobile.showOnMobile {
  @media (min-width: 769px) {
    display: none;
  }
}
