.ticketList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

.ticketWrapper {
  background: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: var(--bd-radius-16);
}

.divider {
  border-bottom: 1px solid var(--gray-200);
}

@media (max-width: 720px) {
  .ticketWrapper {
    max-width: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
