.button {
  color: var(--white);
  font-size: var(--text-16);
  line-height: var(--text-20);
  font-weight: var(--fw-600);
  border-radius: var(--bd-radius-8);
  padding: 14px 24px;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--button-primary);
}

a.button {
  color: var(--white);
}

.button:hover {
  background: var(--button-primary-hover);
}

.secondary {
  background: var(--button-secondary);
}

.secondary:hover {
  background: var(--button-secondary-hover);
}

.outline {
  background: transparent;
  border: 1px solid var(--button-outline);
  color: var(--button-outline);
}

.outline:hover {
  background: var(--button-outline-hover);
  border: 1px solid var(--button-outline-hover);
  color: var(--white);
}

.outline:hover path {
  fill: var(--white);
  stroke: var(--white);
}

.large {
  padding: 26px, 24px;
}
