.calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calendar .calendar {
  width: 336px;
}

.calendar .calendar-content,
.calendar .calendar-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.calendar .react-calendar__viewContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 96px;
}

.calendar .calendar-cell,
.calendar .calendar-cell-empty {
  width: calc(100% / 7);
  height: 48px;
}

.calendar .calendar-week-day {
  width: calc(100% / 7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar .calendar-header {
  padding: var(--spacing-16) 0;
  margin-bottom: var(--spacing-8);
}

.calendar .calendar-week-day-content {
  color: var(--gray-600);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--text-12);
  text-align: center;
}

.calendar .calendar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-8);
}

.calendar .calendar-nav-prev button,
.calendar .calendar-nav-next button {
  width: 24px;
  height: 24px;
  display: block;
}

.calendar .calendar-nav-date {
  margin: 0 auto;
}

.calendar .calendar-nav-date span {
  font-weight: 600;
  font-size: var(--text-24);
  color: #000;
}

.calendar .calendar-cell {
  font-size: var(--text-14);
  font-weight: 600;
  color: var(--gray-900);
  padding: var(--spacing-4) 0;
  border: 2px solid transparent;
  border-radius: var(--bd-radius-4);
  text-align: center;
  vertical-align: super;
  cursor: pointer;
}

.calendar .calendar-cell.range {
  border-radius: 0;
  background-color: var(--primary-dimmed-color);
}

.calendar .calendar-cell.rangeStart {
  background-color: var(--secondary-color);
  border-radius: var(--bd-radius-4) 0 0 var(--bd-radius-4);
  color: var(--white);
}

.calendar .calendar-cell.rangeEnd {
  background-color: var(--secondary-color);
  border-radius: 0 var(--bd-radius-4) var(--bd-radius-4) 0;
  color: var(--white);
}

.calendar .calendar-cell.rangeBothEnds {
  border-radius: var(--bd-radius-4);
}

.calendar .calendar-cell:disabled,
.calendar .calendar-cell.disabled {
  color: var(--disabled-color);
  cursor: default;
}

.calendar .calendar-cell:not(:disabled):not(.disabled):hover {
  border-color: var(--secondary-color);
}
