.sortContainer {
  overflow: hidden;
  display: flex;
}

.sortButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: var(--spacing-16) var(--spacing-40);
  color: var(--gray-900);
  background: var(--white);
  width: 50%;
  cursor: pointer;
  border: 1px solid var(--gray-200);
}

.sortButton:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sortButton:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.active {
  border: 1px solid var(--secondary-color);
  background: var(--secondary-color);
  color: var(--white);
}

.hiddenRadio {
  display: none;
}
