.tripTypeContainer {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.tripTypeItemWrapper {
  margin-right: var(--spacing-16);

  &:last-child {
    margin-right: 0;
  }
}

.inputsContainer {
  --input-width: calc(20% - 4px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
  position: relative;
  flex: 1;
  margin-right: var(--spacing-8);
  flex-wrap: wrap;
}

@media (max-width: 980px) {
  .inputsContainer {
    margin-right: 0;
    margin-bottom: var(--spacing-8);
  }
}

.inputsContainer :global(.select__menu) {
  width: 480px;
}

.inputsContainer.inputsContainerOneWay {
  --input-width: calc(25% - 4px);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: var(--input-width);
  min-width: 0;
  position: relative;

  @media (max-width: 768px) {
    width: 100%;

    :global(.search-form-input) {
      border-radius: var(--bd-radius-8);
    }

    :global(.search-form-input__title) {
      display: none;
    }
  }
}

.inputWrapper:first-child :global(.search-form-input) {
  border-radius: var(--bd-radius-8) 0 0 var(--bd-radius-8);

  @media (max-width: 768px) {
    border-radius: var(--bd-radius-8);
  }
}

.inputWrapper:last-child {
  @media (max-width: 768px) {
    width: calc(50% - 2px);
  }

  :global(.search-form-input) {
    border-radius: 0 var(--bd-radius-8) var(--bd-radius-8) 0;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  @media (max-width: 980px) {
    flex-direction: column;
  }
}

.showOnMobile {
  @media (min-width: 769px) {
    display: none;
  }
}

.hideOnMobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.datesInput {
  width: calc(50% - 2px);
  :global(.search-form-input) {
    border-radius: var(--bd-radius-8) 0 0 var(--bd-radius-8);
  }
}
