.progressContainer {
  width: 100%;
  background-color: var(--gray-100);
}

.progressWrapper {
  width: 100%;
  height: 6px;
  background-color: var(--gray-200);
  border-radius: var(--bd-radius-4);
  overflow: hidden;
  position: relative;
}

.progressBar {
  height: 100%;
  width: 0;
  background-color: var(--secondary-color);
  border-radius: var(--bd-radius-4);
  transition: width 0.3s ease-in-out;
}

.textWrapper {
  padding: 25px 0;
  display: flex;
  gap: 8px;
  align-items: center;
}

@keyframes colorAnimation {
  0% {
    fill: #2674ea;
  }
  25% {
    fill: #94cefc;
  }
  50% {
    fill: #dbedfe;
  }
  75% {
    fill: #bfe1fe;
  }
  100% {
    fill: #2674ea;
  }
}

.loader rect {
  animation: colorAnimation 1.5s infinite ease-in-out alternate;
}
