.tabBar {
  display: flex;
  gap: var(--spacing-12);
  justify-content: center;
  margin-bottom: var(--spacing-48);
}

.tabButton {
  cursor: pointer;
  border-radius: 100px;
  background: transparent;
  border: none;
  color: var(--gray-500);
  padding: 8px 16px;
}

.activeTab {
  color: var(--white);
  background: var(--button-secondary-hover);
}

.mobileNavigation {
  display: none;
  background: var(--white);
  margin-bottom: var(--spacing-48);
}

@media (max-width: 768px) {
  .tabBar {
    display: none;
  }

  .mobileNavigation {
    display: flex;
    width: 100%;
  }
}
